---
layout: default
---

<div class="page-ventures">

  <section class="full hero hero-tight">
    <div class="container">
      <div class="hero-content">
        <h1>Partners help our ventures grow.</h1>
        <a href="/partners/new" class="button hero-cta" style="margin-top:50px;">Become a partner</a>
      </div>
    </div>
  </section> <!-- /.hero -->

  <div class="about-content">
    <section class="venture-grid">
      <p><h2>About</h2></p>
      <p>Our partners want the ventures started by students in Startup Shell to be successful. They strive to make themselves available to the ventures, and provide funding when they're able to. Outside of traditional funding, our partners also provide credits on their platforms and pro-bono support.</p>
      <p style="margin-top:50px;"><h2>Resource Partners</h2></p>
      <ul>
      {% for respartner in site.data.respartners %}
      	{% if respartner.image %}
        <li class="venture-item">
          {% if respartner.website %}<a href="{{ respartner.website }}" target="_blank">{% endif %}
            <img src="/assets/partners/logo_{{ respartner.image }}.svg" alt="{{ respartner.name }}">
            <p>
            {% if respartner.status == "Grad" %}<span>Alumnus. </span>{% endif %}
            {% if respartner.status == "Exit" %}<span>Exited. </span>{% endif %}
            {% if respartner.description %}{{ respartner.description }}. {% endif %}
            </p>
          {% if respartner.website %}</a>{% endif %}
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </section>
    <section class="venture-grid">
      <p><h2>University Partners</h2></p>
      <ul>
      {% for univpartner in site.data.univpartners %}
      	{% if univpartner.image %}
        <li class="venture-item">
          {% if univpartner.website %}<a href="{{ univpartner.website }}" target="_blank">{% endif %}
            <img src="/assets/partners/logo_{{ univpartner.image }}.svg" alt="{{ univpartner.name }}">
            <p>
            {% if univpartner.status == "Grad" %}<span>Alumnus. </span>{% endif %}
            {% if univparnter.status == "Exit" %}<span>Exited. </span>{% endif %}
            {% if univpartner.description %}{{ univpartner.description }}. {% endif %}
            </p>
          {% if univpartner.website %}</a>{% endif %}
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </section>

  </div>

</div>
